<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- import CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />
    <!-- font-awsome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link rel="shortcut icon" href="static/favicon.png" />

    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- import axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>吃点啥 | trash-station</title>
  </head>
  <body>
    <div id="app">
      <div id="bg"><br /></div>
      <el-row>
        <el-col :xs="0" :sm="2" :md="4" :lg="6" :xl="7"
          ><div class="empty"><br /></div
        ></el-col>
        <el-col :xs="24" :sm="20" :md="16" :lg="12" :xl="10">
          <el-card class="maincard">
            <el-image
              :src="'static/logo.png'"
              class="logo"
              width="100%"
              height="100%"
            ></el-image>
            <h1>吃点啥</h1>

            <el-link
              type="primary"
              class="fab fa-github"
              style="font-size: 1em; color: black"
              href="https://trash-station.github.io/"
            >
              trash-station</el-link
            >

            <el-divider></el-divider>
            <el-image
              style="width: 250px; height: 250px"
              :src="showimg"
              fit="contain"></el-image>
            <p>{{ showtxt == "" ? randomtype[radio] : showtxt }}</p>
            <!-- <el-empty
              :image="showimg"
              :description='showtxt == "" ? randomtype[radio] : showtxt'
            ></el-empty> -->
            <!-- 展示食物图片 -->
            <!-- 展示食物名字 -->
            <div class="choice">
              <el-radio v-model="radio" label="foods">食物</el-radio>
              <el-radio v-model="radio" label="shops">店铺</el-radio>
            </div>
            <!-- p 标签 粗体 灰色 内容为 店铺功能仅为开发者使用（因为送不到） -->
            <p style="font-weight: bold; color: #a0a0a0; font-size: 0.9em">
              店铺功能仅为开发者使用（因为送不到）
            </p>
            <el-button type="danger" @click="onstartclick()">{{ startbutton }}</el-button>
            <el-divider></el-divider>
          </el-card>
        </el-col>
        <el-col :xs="0" :sm="2" :md="4" :lg="6" :xl="7"
          ><div class="empty"><br /></div
        ></el-col>
      </el-row>
    </div>
  </body>
    <script>
      Vue.prototype.$http = axios;
      new Vue({
        el: "#app",
        data: function () {
          return {
            radio: "foods",
            data: {},
            shoptype: ["meituan","ele"],
            randomtype: {
              foods: "点击下方按钮，随机一种食物",
              shops: "点击下方按钮，随机一个店铺",
            },
            showimg: "static/sample.png",
            showtxt: "",
            startbutton: "开始随机",
          };
        },
        methods: {
          getdata() {
            axios.get("/static/listdata.json")
            .then((res) => {
              this.data = res.data;
            })
            .finally(() => {
              console.log(this.data);
            });
          },
          onstartclick() {
            this.startbutton = "换一个";
            for (let i = 1; i < 21; i++) {
              setTimeout(() => {
                if (this.radio === "foods") {
                  this.showtxt = this.random();
                  this.showimg = this.data[this.radio][this.showtxt];
                } else {
                  result = this.random();
                  this.showtxt = result[1];
                  this.showimg = this.data[this.radio]["detail"][result[0]][this.showtxt];
                } 
              }, 9000/i >= 2000 ? 2000 : 8000/i);
            }
            

          },
          random() {
            if (this.radio === "foods") {
              let random = Math.floor(Math.random() * this.data.foods.list.length);
              return this.data.foods.list[random];
            } else if (this.radio === "shops") {
              let dp = this.shoptype[Math.floor(Math.random() * 2)];
              let random = Math.floor(Math.random() * this.data.shops[dp].length);
              return [dp,this.data.shops[dp][random]];
            }
          },
        },
        created() {
          this.getdata();
        },
      });
    </script>

  <style>
    .maincard {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      margin-top: 10px;
      text-align: center;
      padding: 30px;
    }
    h1 {
      line-height: 0.5;
    }
    .empty {
      width: 100%;
      height: 100%;
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    #app {
      width: 100%;
      height: 100%;
      padding: 20px;
      box-sizing: border-box;
      margin-top: 10px;
    }
    body {
      background-image: url("/static/bg.jpg");
      font-family: "Helvetica Neue", Helvetica, "PingFang SC",
        "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    }
  </style>
</html>
